.second {
    padding: 0 4.4vw 0 4.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #d4d0c7;
}

.label1{
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-size: 2vh;
}
.label2{
    width: 80%;
    font-weight: 400;
    margin: auto;
    animation: show 1s 1 forwards;
}

.info {
    height: 40vh;
    width: 35vw;
    margin: 0 5vw  2.5vw 5vw;
    text-decoration: none;
    color: #eeeeee;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.on {
    animation: on .7s 1 forwards;
}

@keyframes on {
    from{
        background: #015c7b;
        color: #eeeeee;
    }
    to{
        background:  #eeeeee ;
        color: #000000;
    }
}

.out   {
    animation: out .7s 1 forwards;
}

@keyframes out {
    from{
        background:  #008dab ;
        opacity: 0;
        color: #000000;
    }
    to{
         background: #015c7b;
         opacity: 1;
        color: #eeeeee;
    }
}

@media(max-width: 907px) {
    .second {
        flex-direction: column;
    }
    #advantages {
        width: 80vw !important;
    }
}