.button {
    text-decoration: none;
    display: inline-block;
    color: #EAFFFD;
    padding: 20px 40px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(30deg, #6B0C97 0%, #500971 51%, #6B0C97 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
}
.button:hover {
    background-position: right center;
}