.first {
    background-color: #36064C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10vh;
}

.head{
    margin-top: 40vh;
    margin-left: 10vw;
}

.greeting {
    color: #EAFFFD;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4.5vw;
}

.first img {
    height: 90vh;
    justify-self: flex-end;
}

@media (max-width: 907px) {
    .first {
        padding: 10vh 10vw 0 10vw;
    }
    .first img {
        display: none;
    }
    .head{
        margin: auto auto;
    }
    .button{
        width: 75%;
        text-align: center;
        font-size: 3vh;
    }
    .greeting {
        font-size: 3vh;
        letter-spacing: 2px;
        margin-top: 5vh;
    }
}
