footer{
    height: 10vh;
    background: #015c7b;
}

footer .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    height: 100%;
}

footer .column{
    height: 100%;
    display: flex;
    font-weight: 200;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
}

footer li {
    color: #eeeeee;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    user-select: all;
    list-style-type: none;
    background: transparent;
}

@media (max-width: 907px){
    footer .row{
        display: flex;
        flex-direction: column;
        background: transparent;
        height: 100%;
    }
    footer li{
        font-size: 3.5vw;
        margin-right: auto;
        margin-left: auto;
    }
}