footer{
    height: 10vh;
    background-color: #300746;
}

footer .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    height: 100%;
}

footer .column{
    height: 100%;
    display: flex;
    font-weight: 200;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
}

footer li {
    color: #EAFFFD;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    list-style-type: none;
    background: transparent;
}
