.about {
    background-color: #d4d0c7;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 1vh 10vw;
}

.about>h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5vh;
    font-weight: 500;
    margin-bottom: 6vh;
    margin-top: 5vh;
}

.about>h2 {
    margin-left: 0;
    font-size: 4vh;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 2vh;
}

.about>p {
    margin-left: 2vh;
    font-size: 2.5vh;
    font-weight: 300;
}

@media (max-width: 907px) {
    .about>h1 {
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    .about>h2 {
        letter-spacing: 1px;
    }
}
