.App {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: fixed;
  margin: auto;
  left:0;
  right:0;
  top: 10vh;
  z-index: 1000;
}

.form {
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#username, #phone, #email {
  height: 6vh;
  border-radius: 5px;
  border: 1px grey solid;
  margin-bottom: 1%;
}

#username:focus, #phone:focus, #email:focus {
  height: 6vh;
  border-radius: 5px;
    border: none;
    animation: active 1s 1 forwards;
}

#phone:invalid {

    background-color: red;
}

@keyframes active {
    from {
        border: 1px grey solid;
    }
    to {
        border: 1px #008dab solid;
    }
}

.form input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
}

.form>div {
  display: flex;
  flex-direction: column;
}

.form>div>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#username, #phone {
  width: 45%;
}

.modal input[type="submit"] {
  font-size: 1.7vh;
  text-align: center;
  color: #EAFFFD;
  border: hidden;
  margin-bottom: 4px;
  padding: 15px 20px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image:  linear-gradient(30deg, #015c7b 0%, #008dab 51%, #015c7b 100%);
  background-size: 200% auto;
  transition: .5s;
  cursor: pointer;
}

.modal input[type="submit"]:hover {
  background-position: right center;
}


.modal ul{
  list-style: none;
  padding: 0;
}

.modal li {
  font-size: 1.7vh;
  text-align: center;
  color: #EAFFFD;
  border: hidden;
  margin-bottom: 4px;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image:  linear-gradient(30deg, #015c7b 0%, #008dab 51%, #015c7b 100%);
  background-size: 200% auto;
  transition: .5s;
  cursor: pointer;
}

.modal li:hover {
  background-position: right center;
}

.result {
  border: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result svg {
  margin: auto 0;
  height: 7vh;
}

.result button {
  text-decoration: none;
  display: inline-block;
  color: #EAFFFD;
  border: hidden;
  padding: 20px 40px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image:  linear-gradient(30deg, #015c7b 0%, #008dab 51%, #015c7b 100%);
  background-size: 200% auto;
  transition: .5s;
  cursor: pointer;
}

.result button:hover {
  background-position: right center;
}

.overlay {
  left: 0;
  top:0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 500;
}

h1 {
  margin-bottom: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

.close {
  cursor: pointer;
}

.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
p{
    margin-bottom: 1vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2vh;
}

.form>div.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.25vh;
}

.form>div.label>svg {
    height:2vw;
    margin-top: 1vh;
}

.f>p {
    font-size: 3vh;
    font-weight: 500;
}

.choice{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


@media (max-width: 640px){

  .App {
    width: 70vw;
    border-radius: 20px;
  }

  #username, #phone, #email {
    height: 4vh;
  }
  
  #username:focus, #phone:focus, #email:focus {
    height: 4vh;
  }
  
  .form input {
      font-size: 1vh;
  }
  
  .form>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .result svg {
    margin-top: -1vh;
    height: 3vh;
  }
  
  h1 {
    font-size: 5vw;
  }

  .upper svg{
    height: 6vw;
  }
  
  .form>div.label>svg {
      height:6vw;
      margin-top: 0;
  }
  
  .f>p {
      font-size: 2vh;
  }
}
