.navbar {
    background: linear-gradient(90deg, rgba(1, 92, 123, 0.9) 40%, rgba(0, 141, 171, 0.9) 100%);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 300;
}

a {
    text-decoration: none;
    color:#eee;
}

.image {
    height: 10vh;
}

.logo {
    margin-left: 5vw;
    height: 10vh;
    cursor: pointer;
}

.menu {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:7vw;
}

.opt {
    font-size: 1vh;
    margin-bottom: auto;
    margin-top: auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.opt:hover {
    color: #000000;
}

@media (max-width: 907px) {
    .menu {
        width: 65vw;
    }
    .opt {
        font-size: 1.25vh;
        letter-spacing: 1px;
    }
}
