.navbar {
    background: linear-gradient(90deg, rgba(1, 92, 123, 0.9) 40%, rgba(0, 141, 171, 0.9) 100%);
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 300;
}

a {
    text-decoration: none;
    color:#eee;
    font-size: 15px;
}

.image {
    height: 10vh;
}

.logo {
    margin-left: 5vw;
    height: 10vh;
    cursor: pointer;
}

.menu {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:7vw;
}

.opt {
    font-size: 1vh;
    margin-bottom: auto;
    margin-top: auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.opt:hover {
    color: #000000;
}

@media (max-width: 907px) {
    a   {
        font-size: 13px;
    }
    .logo {
        margin-left:0;
    }
    .navbar {
        background-color: rgba(54, 6, 76, 0.9);
        height: 10vh;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 300;
    }
    .menu {
        width: 40vw;
        flex-direction: column;
        justify-content: flex-end;
    }
    .opt {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5vh;
        letter-spacing: 1px;
        margin-left: auto;  
    }
}
