.admin {
    width: 100vw;
}

.admin table {
    width: 100%;
    border-collapse: collapse;
}

.admin .client {
    height: 7vh;
}

.admin td{
    text-align: center;
    color: #EAFFFD;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3vh;
    background: #36064c;
    height: 10vh;
}

.admin th{
    color: #EAFFFD;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #300746;
    height: 10vh;
}
